.entities {
    line-height: 2;
}

[data-entity] {
    padding: 0.25em 0.35em;
    margin: 10px 0.25em;
    line-height: 1;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid;
}

[data-entity]::after {
    box-sizing: border-box;
    content: attr(data-entity);
    font-size: 0.6em;
    line-height: 1;
    padding: 0.35em;
    border-radius: 0.35em;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0.1rem 0.5rem;
}

[data-entity][data-entity="ANIMAL"] {
    background: rgba(254, 226, 226);
    border-color: rgb(254, 226, 226);
}

[data-entity][data-entity="ANIMAL"]::after {
    background: rgb(220, 38, 38);
    color: white;
}

[data-entity][data-entity="NATURE"] {
    background: rgba(220, 252, 231);
    border-color: rgb(220, 252, 231);
}

[data-entity][data-entity="NATURE"]::after {
    background: rgb(22, 163, 74);
    color: white;
}

[data-entity][data-entity="OBJECT"] {
    background: rgba(219, 234, 254);
    border-color: rgb(219, 234, 254);
}

[data-entity][data-entity="OBJECT"]::after {
    background: rgb(37, 99, 235);
    color: white;
}

[data-entity][data-entity="PERSON"] {
    background: rgba(204, 251, 241);
    border-color: rgb(204, 251, 241);
}

[data-entity][data-entity="PERSON"]::after {
    background: rgb(13, 148, 136);
    color: white;
}

[data-entity][data-entity="PLACE"] {
    background: rgba(243, 232, 255);
    border-color: rgb(243, 232, 255);
}

[data-entity][data-entity="PLACE"]::after {
    background: rgb(147, 51, 234);
    color: white;
}

[data-entity][data-entity="VEHICLE"] {
    background: rgba(254, 249, 195);
    border-color: rgb(254, 249, 195);
}

[data-entity][data-entity="VEHICLE"]::after {
    background: rgb(234, 179, 8);
    color: white;
}

[data-entity][data-entity="VEHICLE"] {
    background: rgba(254, 249, 195);
    border-color: rgb(254, 249, 195);
}

[data-entity][data-entity="VEHICLE"]::after {
    background: rgb(234, 179, 8);
    color: white;
}

[data-entity][data-entity="VERB"] {
    background: rgb(195, 196, 254);
    border-color: rgb(195, 196, 254);
}

[data-entity][data-entity="VERB"]::after {
    background: rgb(8, 23, 234);
    color: white;
}

[data-entity][data-entity="ADJECTIVE"] {
    background: rgb(213, 195, 254);
    border-color: rgb(213, 195, 254);
}

[data-entity][data-entity="ADJECTIVE"]::after {
    background: rgb(68, 8, 234);
    color: white;
}


[data-entity][data-entity="ACTION"] {
    background: rgb(195, 196, 254);
    border-color: rgb(195, 196, 254);
}

[data-entity][data-entity="ACTION"]::after {
    background: rgb(8, 23, 234);
    color: white;
}

[data-entity][data-entity="DESCRIPTION"] {
    background: rgb(213, 195, 254);
    border-color: rgb(213, 195, 254);
}

[data-entity][data-entity="DESCRIPTION"]::after {
    background: rgb(68, 8, 234);
    color: white;
}


.hover-img {
    position: relative;
    display: inline-block;
}

.hover-img:hover .img-overlay {
    display: block;
}